@import "~bootstrap/scss/bootstrap";
@import "colors";

.aboutMeFrame {
    border: 2px solid rgb(1, 111, 185, 0.25);
    box-shadow: 0 0 10em rgb(1, 111, 185, 0.25);
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
}

.aboutMeContent {
    margin: 2em;
}

.Profile {
    // width: 100%;
    border-radius: 2em;
    // margin-top: 0.5em;
    box-shadow: 0 0 10em rgb(1, 111, 185, 0.25);
    border: 2px solid rgb(1, 111, 185, 0.25);
}

@include media-breakpoint-up(lg) {
    .aboutMeFrame {
        margin-left: 2em;
        margin-right: 2em;
    }
}

@include media-breakpoint-up(xxl) {
    .aboutMeFrame {
        margin-left: 6em;
        margin-right: 6em;
    }
}
