@import "~bootstrap/scss/bootstrap";
@import "colors";

.skillsFrame {
    // border: 2px solid rgb(1, 111, 185, 0.25);
    box-shadow: 0 0 10em rgb(1, 111, 185, 0.25);
    border-radius: 1em;
    background-image: linear-gradient(50deg, #{$oxford-blue} 50%, #{$spanish-blue});
    padding: 1.5em;
    margin-top: 1em;
    // color: #{$oxford-blue};
}